* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  font-family: Arial;
}
.banner {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(img/background2.jpg);
}
.banner h1 {
  width: fit-content;
  position: relative;
  top: 27%;
  left: 15%;
  color: #333333;
  animation-name: bounceInDown;
}
.banner p {
  width: 20%;
  position: relative;
  top: 32%;
  left: 15%;
  color: black;
}
.header {
  width: 100%;
  height: 125px;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.35s ease-in-out;
}
.header ul {
  display: block;
  width: 100%;
  margin-left: 185px;
  overflow: visible;
}
.header ul li {
  line-height: 125px;
  margin: auto 30px;
  display: inline-block;
  transition: all 0.35s ease-in-out;
  float: left;
}

.header ul li a {
  font-size: 15px;
  text-decoration: none;
  font-weight: 300;
  color: white;
  transition: color 0.35s ease-in-out;
  text-transform: uppercase;
}
.header ul li a:hover {
  text-shadow: 3px 3px 6px #565351;
}
#float-right {
  clear: right;
  float: right;
  overflow: visible;
}
.Mike-Wong {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: #f1f1f1;
  padding-top: 100px;
}
.profle-picture {
  width: 100%;
  padding-left: auto;
  padding-right: auto;
}
.Mike-Wong p {
  width: 60%;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
}
.profile-picture img {
  display: block;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
}
.box-1 {
  width: 100%;
  height: 100vh;
  background-color: rgba(43, 43, 43, 0.3);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: row;
  padding-top: auto;
  padding-bottom: auto;
}
.box-1 .Skills {
  margin: auto 0px;
  flex-basis: 20%;
}
.box-1 .Skills img {
  width: 200px;
  height: 200px;
}
.Skills img:hover {
  filter: drop-shadow(4px 4px 15px #464645);
}
.Skills-info {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(35, 46, 41);
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s;
}
.Skills-info p {
  width: 50%;
  position: relative;
  top: 40%;
  left: 25%;
  text-align: center;
  color: white;
  font-weight: bold;
}
#exit-button {
  display: block;
  position: absolute;
  width: 75px;
  height: 75px;
  top: 20px;
  left: 25px;
  opacity: 0;
}
.Project {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: #57d7ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Project-box {
  height: 100%;
  flex-basis: 50%;
}
.Project-box img {
  display: block;
  margin: 75px auto;
  width: 225px;
  height: 225px;
  border-radius: 50%;
}
.Project-box p {
  margin: 0px auto;
  color: white;
  width: 60%;
  text-align: center;
}
.Experience {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: black;
}
